<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "articles.scss" %>
    <form method="get" action="/">
    <button class="submit" type="submit">Atras</button>
    </form>  
    <meta charset="utf-8">
</head>
<body>
    
	<center>
       <form class="contact_form" action="/articles" method="post" name="contact_form">
  <ul>
    <li>
         <h2>Agregar Libro</h2>
    </li>
    <li>
        <label for="nombre">Nombre:</label>
        <input object="libro" type="text" name="nombre" placeholder="Camilo Muñoz" />
    </li>
    <li>
    <label for="isbn">ISBN:</label>
    <input type="text" name="isbn" placeholder="123456789" />
</li>
<li>
    <button class="submit" type="submit">Agregar</button>   
</li>

</ul>
</form>
    </center>
</body>
</html>