<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>HTML5 Contact Form</title>
    <link rel="stylesheet" media="screen" href="styles.css" >
</head>
<form class="contact_form" action="" method="post" name="contact_form">
  <ul>
    <li>
         <h2>Agregar Libro</h2>
    </li>
    <li>
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="John Doe" />
    </li>
    <li>
    <label for="isbn">ISBN:</label>
    <input type="text" name="isbn" />
</li>

<li>
    <button class="submit" type="submit">Ingresar</button>
</li>

</ul>
</form>
<body>
</body>
</html>