<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "welcome.scss" %>
    <meta charset="utf-8">
</head>
<center><body>
	<h2>Base de datos Libros</h2>
	<form method="get" action="/articles">
    <button class="submit" type="submit" >Agregar Libro</button>
	</form>
	<form method="get" action="/eliminar_libro">
    <button class="submit" type="submit">Eliminar Libro</button>
	</form>
	<form method="get" action="/ver_libros">
    <button class="submit" type="submit">Ver Libros</button>
	</form>
</body></center>
</html>